<div fxLayout="column" fxFlexAlign="start" class="container">
    <div fxLayout="row" fxLayoutGap="20px" fxFlex="100" class="content-row">
        <div fxFlex="25%" class="box"></div>
        <div fxFlex="25%" class="box"></div>
        <div fxFlex="50%" class="box"></div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" fxFlex="100" class="content-row">
        <div fxFlex="25%" class="box"></div>
        <div fxFlex="25%" class="box"></div>
        <div fxFlex="25%" class="box"></div>
        <div fxFlex="25%" class="box"></div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" fxFlex="100" class="content-row">
        <div fxFlex="50%" class="box"></div>
        <div fxFlex="15%" class="box"></div>
        <div fxFlex="15%" class="box"></div>
        <div fxFlex="15%" class="box"></div>
        <div fxFlex="15%" class="box"></div>
        <div fxFlex="15%" class="box"></div>
    </div>
    <div fxLayout="row" fxLayoutGap="20px" fxFlex="100" class="content-row">
        <div fxFlex="100%" class="box"></div>
    </div>

    <div fxLayout="row" fxLayoutGap="20px" fxFlex="100" class="content-row">
        <div fxFlex="50%" class="box"></div>
        <div fxFlex="50%" class="box"></div>
    </div>

    <div fxLayout="row" fxLayoutGap="20px" fxFlex="100" class="content-row">
        <div fxFlex="70%" class="box"></div>
        <div fxFlex="30%" class="box"></div>
    </div>

    <div fxLayout="row" fxLayoutGap="20px" fxFlex="100" class="content-row">
        <div fxFlex="40%" class="box"></div>
        <div fxFlex="60%" class="box"></div>
    </div>
</div>