.matcard-container { 
    margin: 20px;
    padding: 0px;
    width: calc(100% - 3%);
}

.matcard-container-nested { 
    margin: 5px;
    padding: 2px;
    width: 100%;
}

.matherader {
    background-color:#6956b7d1;
    color: white;
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.content-box {
    padding: 10px;
    margin: 10px;
}
.content-box-nested {
    padding: 3px;
    margin: 3px;
}

.describe {
    background-color:red;
}

.cardfooter {
    background-color:#6956b7d1;
    color: white;
    width: 100%;
    margin: 1px;
    padding: 2px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid gray;
 
}

.nestedArryHeader {
    background: #8474c44a;
    border: 1px dodgerblue;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.content-box-nested-formArray {
    padding: 5px;
    margin: 5px;
}

.arryFormTitle {
    font-size: 15px;
    font-weight: bold;
    color: blue;
    position: relative;
    top: 4px;
}

.removeButton {
    font-size: 15px;
    font-weight: bold;
    color: blue;
}